In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import bs4
import requests

In [2]:
teams = pd.read_csv('mlb_teams.csv')

In [3]:
teams

                     team abbreviation                  alt abbreviation2
0    Arizona Diamondbacks          ARI                  NaN           NaN
1          Atlanta Braves          ATL                  NaN           NaN
2       Baltimore Orioles          BAL                  NaN           NaN
3          Boston Red Sox          BOS                  NaN           NaN
4            Chicago Cubs          CHC                  NaN           NaN
5       Chicago White Sox          CHW                  NaN           NaN
6         Cincinnati Reds          CIN                  NaN           NaN
7       Cleveland Indians          CLE  Cleveland Guardians           NaN
8        Colorado Rockies          COL                  NaN           NaN
9          Detroit Tigers          DET                  NaN           NaN
10          Miami Marlins          FLA                  NaN           MIA
11         Houston Astros          HOU                  NaN           NaN
12     Kansas City Royals          KAN                  NaN           KCR
13     Los Angeles Angels          LAA                  NaN           NaN
14    Los Angeles Dodgers          LAD                  NaN           NaN
15      Milwaukee Brewers          MIL                  NaN           NaN
16        Minnesota Twins          MIN                  NaN           NaN
17          New York Mets          NYM                  NaN           NaN
18       New York Yankees          NYY                  NaN           NaN
19      Oakland Athletics          OAK                  NaN           NaN
20  Philadelphia Phillies          PHI                  NaN           NaN
21     Pittsburgh Pirates          PIT                  NaN           NaN
22       San Diego Padres           SD                  NaN           SDP
23   San Francisco Giants           SF                  NaN           SFG
24       Seattle Mariners          SEA                  NaN           NaN
25    St. Louis Cardinals          STL                  NaN           NaN
26         Tampa Bay Rays           TB                  NaN           TBR
27          Texas Rangers          TEX                  NaN           NaN
28      Toronto Blue Jays          TOR                  NaN           WSN
29   Washington Nationals         WAS                   NaN           NaN

In [29]:
team = teams['team'].values[10]
year = 2019
path = "MLB_salaries_2015-2023/%s %i Salaries & Payroll Table Spotrac.htm"%(team, year)

with open(path, "r") as HTMLFile:
        webhtml=HTMLFile.read()
# put it in a soup
soup = bs4.BeautifulSoup(webhtml, 'html5lib')

In [30]:
active_players = soup.find_all('th',{'class':'player'})[0].text
Nactive = int(active_players[active_players.find('(')+1:active_players.find(')')])
Nactive

32

In [31]:
# extract player names
player_names_page = soup.find_all('td',{'class':'player'})
player_names= [n.a.text if hasattr(n.a,'text') else None for n in player_names_page ]
# let's split it into first and last names
#print(player_names[:nrows])
names = np.array([(name[:name.find(' ')],name[name.find(' '):]) for name in player_names[:Nactive]])

In [39]:
# get the salaries
money = soup.find_all('span',{'title':'Total Adjusted Salary including base salary and bonuses'})
# also convert it into float form
pays = np.array([float(mon.text[1:].replace(",", "")) for mon in money[:Nactive]])

In [40]:
pays

array([20000000., 15000000., 11857142.,  3200000.,  3155000.,  2000000.,
        1750000.,  1125000.,   866880.,   570000.,   565000.,   556500.,
         555000.,   555000.,   555000.,   486392.,   462520.,   423728.,
         367032.,   355096.,   328240.,   295416.,   292432.,   272785.,
         226784.,   185013.,   167104.,   125328.,   101456.,    80568.,
          80568.,    41776.])

In [38]:
for i,mon in enumerate(money):
    try:
        temp = float(mon.text[1:].replace(",", ""))
    except:
        print(i,mon)

46 <span class="cap" title="Total Adjusted Salary including base salary and bonuses">- </span>

In [28]:
pays = np.array(salary[:Nactive])

---
There are probably some players that